<!DOCTYPE html>
<html lang="en">

<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Washing Machine</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <script src="static/js/update_status.js" defer></script>
</head>

<body>
    <div style="margin-top: 50px;text-align: center">
        <span id="status" class="ui gray label">start</span>
        <span id="timer" class="ui gray label">20</span>
        <span id="mode" class="ui gray label">Normal</span>
    </div>
</body>

</html>